@import 'variables';



img.logo {

    height: 5rem;
}

.background_navbar {
    // background-color: #45BBF9;
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(255, 0, 0, 0), #1D7EFF, #1D7EFF, #1D7EFF);

}

.background_card_apartment {
    // background-color: #45BBF9;
    background-image: linear-gradient(to top, rgba(255, 0, 0, 0), rgba(255, 0, 0, 0), yellow, #1D7EFF, #1D7EFF, #1D7EFF, #1D7EFF, #1D7EFF);

}

.navbar {
    font-family: 'Montserrat', sans-serif;

}

/* .height-header-form {
    height: 10vh
}

.height-main-form {
    height: 90vh
} */

.border_black {
    border: 1px solid black;
}

.my-rounded-1 {
    border-radius: 1rem;
}

.img-apartment {
    object-fit: cover;
    height: 230px;
    width: 350px;


}

.list-style-type-circle {
    list-style-type: circle
}

.list-style-type-none {
    list-style-type: none;
}


.avatar {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.wraper-cover-apartment-small {
    width: 100%;
    height: 200px;
    // border: 2px solid red;
    background-color: aliceblue;

}

.cover-apartment-small {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
}

.my-rounded-1 {
    border-radius: 0.5rem;
}

.color-primary {
    color: red;
}

.btn-active {
    display: none;
}

.my-position {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
}



.my-bg-card-info {
    background: linear-gradient(to top right, white, white, white, white, white, white, white, white, white, #33ccff)
}

.my-bg-card-visibily {
    content: "";
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
}

.my-bg-card-sponsor {
    content: "";
    display: block;
    right: 3px;
    top: 3px;
    /* width: 50px;
    height: 50px; */
    position: absolute;

}

.sponsor-text-gold {

    background-color: goldenrod;
    color: black;
}

.sponsor-text-silver {

    background-color: grey;
    color: black;
}

.sponsor-text-bronze {

    background-color: #CD7F32;
    color: white;
}

.my-bottom-z-index {
    z-index: 1;
}

.my-bg-card-map {

    box-shadow: 0 4px 8px 0 #BAEEFF, 0 6px 20px 0 #BAEEFF;
}

.hover-show:hover {
    box-shadow: 0 4px 8px 0 #BAEEFF, 0 6px 20px 0 #BAEEFF;

}

.my-list-card-alert {
    list-style-type: none;
}

.description-apartment {
    height: 143px;
}

.carousel-scaled {
    transition: $transition;
}

.carousel-scaled:hover {
    transform: scale(1.2);
    margin-left: 1rem;
}


#footer {
    height: 5rem;
    background-color: $logo-blue;
    color: azure;
}

.my-page-text-color {
    color: $logo-blue;
}

.my-bg-color {
    background-color: $logo-blue;
}

// Forms

.my-scroll-box {
    height: 50px;
    overflow-y: scroll;
}

.my-input-height {
    height: 150px;
}

// Apartment index
.my-btn-positions {
    top: 52%;
    right: 0;
}

// cards
.my-card-size {
    width: 20rem;
}

.img-height {
    height: 12rem;
}

.my-card-position {
    top: -20px;
    right: 0;
}

/* .my-ocapity-card{
    background-color:rgba(255, 0, 0, 0.9);
} */

// Apartment edit

.my-img-wrapper {
    width: 150px;
    height: 150px;
}

.my-delete-position {
    top: 0;
    left: 0;
}

.my-col-h-index-apartment {
    height: 600px;
}

//main
.my-min-height {
    min-height: 80vh;
}

// footer
.footer-span {
    line-height: 5rem;
}


.tomtomlist {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 4;
    height: 20rem;
    overflow: scroll;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
}

.my-desc, .my-overflow{
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.element-list {
    cursor: pointer;

    &:hover {
        background-color: $blue;
    }
}


.color-gray {
    color: #9b9797;
}

.color-green {
    color: #039b9b;

}

.icon-text{
    //display: none;
    opacity: 0;
    transition: all 300ms ease-in-out;
    margin-right: .5rem;
    background-color: rgba(#004AAD, $alpha: 1);
    padding: .2rem .5rem;
    border-radius: 1rem;
}

.bg-icon{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #004AAD;
    margin-right: .5rem;
    transition: all 300ms ease-in-out;
    position: absolute;
    right: 0;
    z-index: 3;
}

.apart-sponso{
    display: flex;
    align-items: center;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

