/* .background-image-form {
    background-image: url('https://static.bimago.pl/mediacache/catalog/product/cache/8/7/107178/image/750x1120/be97cf49a5a90b4dfd2ad7042bec5838/107178_4.jpg');
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
}
*/
img#logo {
    height: 5rem;

}

.background_navbar {
    // background-color: #45BBF9;
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(255, 0, 0, 0), #1D7EFF, #1D7EFF, #1D7EFF);

}

.background_card_apartment {
    // background-color: #45BBF9;
    background-image: linear-gradient(to top, rgba(255, 0, 0, 0), rgba(255, 0, 0, 0), yellow, #1D7EFF, #1D7EFF, #1D7EFF, #1D7EFF, #1D7EFF);

}

.navbar {
    font-family: 'Montserrat', sans-serif;

}

.height-header-form {
    height: 10vh
}

.height-main-form {
    height: 90vh
}

.border_black {
    border: 1px solid black;
}

.my-rounded-1 {
    border-radius: 1rem;
}

.img-apartment {
    object-fit: cover;
    height: 230px;
    width: 350px;


}

.list-style-type-circle {
    list-style-type: circle
}

.list-style-type-none {
    list-style-type: none;
}


.avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.wraper-cover-apartment-small {
    object-fit: contain;
}

.my-rounded-1 {
    border-radius: 0.5rem;
}

.color-primary {
    color: red;
}

.btn-active {
    display: none;
}
