// Fonts
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Lobster&family=Noto+Sans+HK:wght@100;300;400;500;700;900&display=swap');

// Variables
@import 'variables';
@import 'create_style';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

::placeholder,
:-ms-input-placeholder,
::-webkit-input-placeholder,
::-moz-placeholder {
    color: red;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

// Body
// body{
// }

// font-family: 'Dancing Script', cursive;
// font-family: 'Lobster', cursive;
// font-family: 'Noto Sans HK', sans-serif;