// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import 'create_style';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

::placeholder,
:-ms-input-placeholder,
::-webkit-input-placeholder,
::-moz-placeholder {
    color: red;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
